body {
    background-color: #A18766;   
}

.background {
    position: static;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Heading and link code  */

.header {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    box-sizing: 100vw;
}

.nav {
    background-color: lightgray;
}

.nav-link active {
    color: darkgray;
}

nav .hamburger {
    display: none;
}


}

a:link {
    text-decoration: none;
    color: black;
    padding: 18px 19px;
    font-size: 22px;
}

a:hover {
    background-color: white;
}

/* Page styling */

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-size: 95px;
}