@charset "utf-8";
/* CSS Document */

body {
	display: flex;
    flex-direction: column;
    justify-content: center;
	background-color: red;
}


.navbar {
	display: flex;
	flex-direction: row;
    min-height: 50px;
    justify-content: flex-start;
    align-content: space-around;
    background-color: grey;
}
    
.logo {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 400px){
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-shrink: 50%;
    }
    
    .menu {
        display: none;
    }
}

@media only screen and (min-width: 401px) and (max-width: 1000px){
    .menu {
        display: none;
    }
}


@media only screen and (min-width: 1000px) {
    .hamburger {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
}