body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #A18766
}

.header {
    display: flex;
    flex-direction: row;
    position: absolute;
}

header {
    display: flex;
    justify-content: center; 
}

.logo {
    size: 500vh;
    
}

nav {
    display: flex;
    height: 60px;
    width: 100vw;
    background-color: gray;
    position: fixed;
    z-index: 2;
}

nav .hamburger {
    display: none;
}

nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    list-style-type: none;
    flex-basis: 700px;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: 'Merienda', cursive;
    padding: 16px 20px;
    font-size: 20px;
}

a:hover {
    background-color: lightgray;
}

:visited {
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-size: 95px;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-size: 95px;
}

@media screen and (max-width: 350px) {

    header {
        display: flex;
        justify-content: center;

    }
    
    img {
        max-width: 75%;
    }

    nav {
        display: flex;
        height: 30px;
        background-color: lightgray;
        margin: 0;
        padding: 0;
    }
    
    nav .hamburger {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    
    nav .menu {
        display: none;
    
    }
    
    a:link {
        text-decoration: none;
        color: black;
        font-family: 'Merienda', cursive;
        padding: 20px 20px;
        font-size: 20px;
    }
    
    a:hover {
        background-color: white;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        font-family: 'Merienda', cursive;
        font-size: 75%;
    }
    
    h2 {
        display: flex;
        flex-direction: row;
        align-content: center;
        font-family: 'Merienda', cursive;
        font-size: 75%;
    }

}


